{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="{% static "css/style.css" %}">
    <title>Cat</title>
</head>
<body>
    <div class="container">
        <h3>Вас приветствует симулятор кота <br> для начала введите имя кота</h3>
            <br>
        <form action="/cat_stats" method="post">
            {% csrf_token %}
            <input type="text" name="name" placeholder="введите имя кота" required>
            <br><br>
            <input class="button" type="submit" value="создать" >
        </form>
    </div>
</body>
</html>